:root{
    --bgcolor:rgb(230, 225, 225);
}
@font-face {
    font-family:myFirstFont;
    src: url(font/Spotlight.otf);
 }
body{
    margin: 0;
    background-color: var(--bgcolor);
}

header{
    position: relative;
    width: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    height:fit-content;
    background-color: var(--bgcolor);
    overflow: hidden;
}
/*NAV-BAR STYLE CODE */
nav{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 0;
    margin: 0;
    height:40px;  
    position: sticky;
    position: -webkit-sticky;
    top: 0;  
    background-color: var(--bgcolor);
    z-index: 1000;
}

nav .logo{
    font-family:myFirstFont;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 20%;
}
nav .logo img{
object-fit: contain;
margin: 0;
padding: 0px;
mix-blend-mode:multiply;
}
nav .links{
    width: 100%;
 
}
nav .links ul{
    display: flex;
    justify-content: center;
    gap:15px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: small; 
    padding: 0; 
}
li{
    list-style-type: none;
    width: fit-content;
}
.links ul li a{
    color: rgb(126, 124, 124);
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    &:hover{
        color:rgba(92, 3, 201, 0.933);
    }
}
.links li:hover .border{
    scale: 1 1;
}

.border{
    border-bottom: 1.5px solid rgba(92, 3, 201, 0.933);
    scale: 0 0;
    transform-origin:center;transition: 0.5s;
}
nav .contactt{
    width:20%;
    text-align: center;
    background-color: rgba(92, 3, 201, 0.933);
    border-radius: 20px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
    padding-block: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.contactt button{
    background-color: transparent;
    border: none;
    color:white;
    &:hover{
        color: rgb(125, 123, 123);
    }
}
@media (max-width:650px) {
    .contactt{display: none;}
}
/*HEADER STYLE CODE HERE*/

 
.title{
    text-align: center;
    color: rgb(58, 58, 58);
    font-size:50px;
    font-weight: bold;
    font-family:myFirstFont;
    animation: zoomout 2s ease-in-out 1 forwards;
}
@keyframes zoomout {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.profile{
    position: relative;
    margin-top:55px;
    text-align: center;
    height:200px; 
    
}
.profile span{
 
}
.profile img{
    width:250px;
    height:300px; 
    border-radius: 10px;
    position: relative;
    z-index:100;
    bottom: 100px;
    filter: drop-shadow(-10px 0px 1px rgba(0, 0, 0, 0.329))saturate(0);
    object-position: 100% 0%;
    animation: inout 2s ease-in-out 1 forwards ;
    transition:1s;
}
@keyframes inout {
    0%{bottom: -100px;opacity: 0;}
    25%{bottom: -50px;opacity: 0;}
    50%{bottom: -0px;opacity: 0;}
    75%{bottom: 50px;opacity: 0;}
    100%{bottom: 100px;opacity: 1;}

}
#box-1{
    min-width:20%;
    height:200px;
    background-color:rgba(92, 3, 201, 0.933);
    position: absolute;
    transform: skewX(10deg);
    border-radius: 10px;
    left: 30%;
    z-index:1;


}
#box-2{
    width:30%;
    height:130px;
    border-radius: 20px;
    background-color: rgb(184, 184, 188);
    position: absolute;
    transform: skewX(-10deg);
    top:69px;
    left:37%;
    
}
.hire{
    width:230px;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    position: relative;
    text-align: center;
    margin: auto;
    bottom:55px;
    z-index: 300;
    display: flex;
    justify-content: space-between;
}
.hire a button{
    width:110px;
    border-radius: 20px;
    padding:5px;
    cursor: pointer;
    border: none;
    font-size: larger;
}
.hire a #btn1{
    background-color:blueviolet;
    color: white;
    border: 1px solid blueviolet;
    &:hover{
        box-shadow: black 0px 0px 2px;
    }
}
.hire a #btn2{
    border: 1.5px solid rgb(46, 45, 45);
    &:hover{
        box-shadow: black 0px 0px 2px;
    }
}

@media (max-width:650px) {
    #box-1{
        width:35%;
        left: 15%;
    }
    #box-2{
        width: 40%;
    }

}

/*SERVICE STYLE CODE HERE*/

.service{
    background-color: rgba(92, 3, 201, 0.933);
    height: fit-content;
    width: 100%;
    padding-bottom:50px;
}
.service-title{
    position: relative;
    top: 40px;
    width: fit-content;
    height: fit-content;
    margin-left: 40px;
    
}
.service-title span{
    margin-top: 40px;
}
.service-title :nth-child(1){
    color:white;
}
.service-title :nth-child(3){
    color: white;
    font-size: xx-large;
}
.service-title :nth-child(4){
    color: rgb(77, 252, 77);
    font-size: xx-large;
}

.service-list{
    top: 20px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin:60px;

}

.service-list #service-1,#service-2,#service-3{
    width: 200px;
    height:250px;
    text-align: center;
    background-color: rgba(164, 107, 255, 0.485);
    border-radius:100px;
    position: relative;
    cursor: pointer;
    animation-name: easout;
    animation-timing-function:linear;
    animation-timeline: view();
    animation-range:0px 250px;
    transition: 0.5s;
    &:hover{
        background-color: white;
    } 
    
}

@keyframes easout {
    from{opacity: 0;scale: 0;}
    to{opacity: 1;scale: 1;}
    
}

#service-3:hover h3{
    color: rgb(46, 45, 45);
}#service-3:hover i{
    color: blueviolet;
}
#service-2:hover h3{
    color: rgb(46, 45, 45);
}#service-2:hover i{
    color: blueviolet;
}
#service-1:hover h3{
    color: rgb(46, 45, 45);
}#service-1:hover i{
    color: blueviolet;
}

i{color: white;font-size: xx-large;}

#service-1 div,
#service-2 div,
#service-3 div{
    background-color: rgba(164, 107, 255, 0.485);
    padding: 20px;
    width: fit-content;
    height: fit-content;
    margin: auto;
    border-radius:100px;
    position: relative;
    top: 20px;

}
.service-list h3{
    color: white;
    font-size:x-large;
    transition: 0.5s;
}
.service-list p{
    font-size: small;margin: 10px;
    color: rgb(178, 176, 176);
}
.service-list span{
    color: rgb(178, 176, 176);
    font-size: small;
}
.service-list span i{
    font-size:medium;
    top: 3px;position: relative;
    color: rgb(178, 176, 176);
}
@media (max-width:600px) {
    .service-list{flex-wrap: wrap;}
}

/*ABOUT STYLE CODE HERE*/

.aboutme{
display: flex;
justify-content:space-evenly;
gap:40px;
margin: 55px;
position: relative;

}

/* Hide scrollbar for IE, Edge and Firefox */   
.about-article::-webkit-scrollbar {
    display: none;
}
.about-article {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
@media (max-width:600px) {
    .aboutme{width: 150%;}
   .about-article{
    overflow-y:hidden;
    overflow-x:scroll;
   }
}
.about-image{
    width: 100%;height: 290px;
    position: relative;
    /*background-image: url(imges/image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    filter:saturate(0) contrast(1.5);
    background-position:0% 20%;*/
    transition: 1s;
    cursor: pointer;

}
.about-image .carosel{

}
.about-image::before{
    content:' ';
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(252,70,107,1) 0% ,rgb(4, 34, 186) 100%);
    border-radius: 50% 50% 30% 30%;
    filter: blur(50px);
}
.about-image .carosel .list{

}
.about-image .carosel .list .item{
    position: absolute; 
    width: 100%;
    text-align: center;
    
}
.about-image .carosel .list .item img{
    width:fit-content;
    height: 290px; 
    border-radius: 50px;
}
.about-image .carosel .list .item:nth-child(1){
     translate:0% 0%;
     scale: 1;
     z-index: 10;
}
.about-image .carosel .list .item:nth-child(2){
    translate: 85% 0%;
    scale: 0.6;
    filter: blur(7px);
    opacity: 0.4;
}
.about-image .carosel .list .item:nth-child(3){
    translate:135% 0%;
    scale: 0.3;
    filter: blur(10px);
    opacity: 0.3;
}
/* slide animation */
.about-image .carosel .list .item:nth-child(1){
    animation: position1 0.5s ease-in-out  1 forwards ;
}
@keyframes position1 {
    from{
        translate: 85% 0%;
        scale: 0.6;
        filter: blur(5px);
        opacity: 0.5;
    }
}
.about-image .carosel .list .item:nth-child(2){
    animation: position2 0.5s ease-in-out  1 forwards ;
}
@keyframes position2 {
    from{
    translate:135% 0%;
    scale: 0.3;
    filter: blur(10px);
    opacity: 0.4;
    }
}
.about-image .carosel .list .item:nth-child(3){
    animation: position3 0.5s ease-in-out  1 forwards ;
}
@keyframes  position3 {
    from{
        translate: 0% 0%;
    }
}
.about-image .item-position{
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%);
}
.about-image .item-position button{
    all: unset;
    
}
.about-details{
    width: 100%;
    height: 290px;
    animation: zoomin linear;
    animation-timeline: view();
    animation-range:0px 200px;

}
@keyframes zoomin {
    from{opacity: 0;scale: 1 0;}
    to{
        opacity: 1;scale: 1;
    }
}

.about-details :nth-child(3),.about-details :nth-child(4){
    font-size:45px;
}
.about-details :nth-child(4){
    color: blueviolet;
}
.about-details p{
    font-size: smaller;
    color: rgb(91, 90, 90);
}
.about-details a button{
    background-color: rgba(130, 210, 83, 0.889);
    padding: 10px;
    border-radius:50px;
    border: none;
    font-size:10px;
    font-weight: bold;
    color: rgb(32, 32, 32);
    &:hover{
        box-shadow: black 0px 0px 1px;
    }
}
/*@media (max-width:600px) {
    .aboutme{
        overflow: scroll;
    }
    .about-details{position: relative;;width: 150%;}
    .about-image{width: 150%;}
}*/

/* EDUCATION AND WORK STYLE CODE HERE*/

.knowlege{}
#knowledge-title{text-align: center;font-family:Georgia, 'Times New Roman', Times, serif;}
#knowledge-title p{
    font-size: xx-large;
}
.knowledge-list{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    margin:50px;
}
.education,.work{
    background-color: rgb(241, 239, 239);
    width:100%;
    height: fit-content;
    color: blueviolet;
    border-radius: 10px;
    padding: 10px;
    animation: zoomin3  ease-out;
    animation-timeline: view();
    animation-range: 0px 250px;
}
@keyframes zoomin3 {
    0%{opacity: 0;scale: 1;}
    30%{opacity: 0;scale: 1;}
    60%{opacity:0;scale:1;}
    100%{opacity: 1;scale: 1;}
}
#insitute,#college,#school{
    display: flex;
    justify-content: space-between;
    margin: 0px 5px 0px 5px;
    color: rgb(47, 46, 46);
}
#insitute #in-tite :nth-child(1),#college #col-tite :nth-child(1) ,#school #sc-tite :nth-child(1){
    font-weight: bold;
    font-size:large;
    color: rgb(62, 62, 62);
}
#insitute #in-tite :nth-child(3),#college #col-tite :nth-child(3) ,#school #sc-tite :nth-child(3){
top: 5px;position: relative;
font-size: small;
}

#insitute :nth-child(2),#college  :nth-child(2) ,#school :nth-child(2){
    background-color: rgb(247, 246, 246);
    height: fit-content;
    padding: 5px;
    font-size: small;
    text-align: center;
    border-radius: 10px;
}
.education p , .work p{
    font-size:medium;
    color: rgb(93, 92, 92);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


@media (max-width:650px) {
    .knowledge-list{
        flex-wrap: wrap;
        margin: 20px;;
    }
}

/* Some message code here */
@font-face {
    font-family:secondfont;
    src: url(font/zwriter-eye-fs.ttf);
}
.Message{
    font-family: secondfont;
    animation: zoomin2  ease-in-out;
    animation-timeline: view();
    animation-range: 0px 250px;
    transition:1s;
}
@keyframes zoomin2 {
    0%{opacity: 0;scale: 1;}
    30%{opacity: 0;scale: 1;}
    60%{opacity:0;scale:1;}
    100%{opacity: 1;scale: 1;}
}
.Message button{
    border: none;background-color: rgba(130, 210, 83, 0.889);
    color: black;border-radius: 40px;
    padding:10px;font:x-small;
    &:hover{
        box-shadow: black 0px 0px 1px;
    }
}

.Message button i{
    font-size: small;color:white;
    padding: 5px;border-radius: 50px;
    background-color: blueviolet;
}

/*CONTACT STYLE CODE */
.contact-me{
    position: relative;
    background-color: rgba(92, 3, 201, 0.933);
    height:450px;

}
@media (max-width:600px) {
    .contact-me{
        height: 750px;
    }
}
.contact{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 55px;
    margin: 55px;
    gap: 10px;
    color: white;
}
.contact-details,.contact-form{
    width: 100%;
}

.contact-details :nth-child(2){
    font-size: small;
    color: rgb(224, 223, 223);
    margin: 0;
}
.contact-details p i{
    font-size: medium;
    background-color: white;
    padding: 10px;
    border-radius: 100px;
    color: blueviolet;
    margin-right: 10px;
}
.contact-form{
   /* border: 1px solid red;*/
}
.contact-form form{ 
    position: relative; 
}
.contact-form form button{
    margin: 5px;
    padding: 10px;
    background-color: rgba(52, 217, 52, 0.755);
    border:none;
    border-radius:5px;
    &:hover{
        box-shadow: rgb(0, 0, 0) 0px 0px 5px;
    }
}

.contact-form form input{
    background-color: rgb(135, 100, 215);
   
}
::placeholder {
    color: rgb(219, 217, 217);
    opacity: 1; /* Firefox */
    font-variant: normal;
  }
  
  ::-ms-input-placeholder { /* Edge 12-18 */
    color: rgb(219, 217, 217);
    font-variant: normal;
  }

.contact-form form :nth-child(1) input,
.contact-form form :nth-child(2) input,
.contact-form form :nth-child(3) input{
    position: relative;
    border-radius: 5px;
    position: relative;
    border: none;
    outline: none;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px;
    margin-left: 0;
    margin-right: 0;
    color: white;
    font-variant: small-caps;
    text-align: center;
}
.contact-form form :nth-child(3) input{
    display: grid;
}
.contact-form form textarea{
border-radius: 5px ;    
background-color: rgb(135, 100, 215);
outline: none;
border: none;
resize:none;
width: 100%;
margin-top: 10px;
color: white;
}


@media (max-width:650px) {
    .contact{
        flex-wrap: wrap;
    }
}

/* FOOTER STYLE CODE HERE*/


footer .footer-list{
    display: flex;
    justify-content:space-between;
    align-items:first baseline;
    margin: 55px;
    margin-top: 10px;
    gap: 30px;
}
.footer-list h5{
    color:rgba(92, 3, 201, 0.933);
    font-weight: bold;
}
#name-font{
    font-family:myFirstFont;
    font-size:large;
}

footer .footer-title{
    display: flex;
    justify-content: space-between;
    margin:55px 55px 20px 55px;
    
    
}
@media (max-width:600px) {
    footer .footer-title{
        width: 135%;
    }.footer-list{
        width: 135%;
    }
    #hr{
        width: 135%;
    }
    footer{
        overflow-x:scroll;
    }
}
footer .footer-list div{
    width: 100%;
}
.footer-title p{
    font-size:xx-large;margin: 0;
}
.footer-title button{
    background-color: rgba(130, 210, 83, 0.889);
    border-radius: 20px;border: none;
    font-size:x-small;font-weight: bold;
    height: fit-content;padding: 5px;
    cursor: pointer;
    &:hover{
        box-shadow: black 0px 0px 1px;
    }
}
.footer-title button i{
    font-size: small;
    color:rgb(145, 33, 250);padding:3px;
    border-radius: 50px;
    background-color: rgb(242, 241, 244);
}

footer .nav-con{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.nav-con ul{
    padding: 0;
    font-size: small;
    
}
.nav-con ul li{
    list-style-type: none;
    padding: 5px;
}
#contact ul li{
    color: rgb(114, 113, 113);
}
.nav-con ul li a{
    text-decoration:  none;
    color: rgb(114, 113, 113);
    &:hover{
        transition: 0.5s;
        color: blueviolet;
        text-decoration: underline;
    }
}
.social ul{
    padding:0;
}
.social ul li{
    margin: 5px;
    width: 100%;
}
.social ul li a{
    font-size: small;
    color: rgb(132, 131, 131);
    &:hover{
        color: blueviolet;
    }
}
.social ul li i{
    padding:5px;
    border-radius: 50px;
    font-size:medium;
    background-color: blueviolet;

}

button{
    cursor: pointer;
}
#dragbutton{
    position: absolute;
    width: 60px;
    height:60px;
    border-radius:100%;
    place-content: center;
    text-align: center;
    position: fixed;
    font-size:8px;
    font-weight: bold;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top:85%;
    left:85%;
    font-family:secondfont ;
    text-shadow: white 1px 0px 1px;
    transition: .3s;
    cursor: pointer;
    overflow: hidden;
    z-index:1000;
}
#dragbutton a{
    text-decoration: none;
    color: black;
}
#dragbutton::after{
    position:absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    scale: 0.85;
    border-radius: 100%;
    background-color: rgb(67, 218, 67);
    z-index:-1;
}